<div class="container">
  <div class="row">

    <div class="col-md-2 bg-light d-flex align-items-center justify-content-center">
      <h6>ショッピングカート</h6>
    </div>

    <%= link_to public_destroy_all_cart_items_path do %>
      <button button type="button" class="col-md-2 offset-md-8 btn btn-danger">
        カートを空にする
      </button>
    <% end %>

</div>

<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-12">

        <table border="2" class="table border border-dark">

            <tr>
                <th scope="col", style="width: 40%">商品名</th>
                <th scope="col", style="width: 15%">単価（税込）</th>
                <th scope="col", style="width: 15%">数量</th>
                <th scope="col", style="width: 15%">小計</th>
                <th scope="col", style="width: 15%"></th>
            </tr>

            <% @cart_items.zip(@items, @total).each do {|cart_item, item, total| %>
            <tr>
                <td>
                  <span><%= image_tag item.image_id, :size => '50x50' %></span>
                  <span><%= item.name %></span>
                </td>
                <td><%= item.price %></td>
                <td>
                  <span>
                    <%= form_with model:cart_item, url: public_cart_item_path(cart_item.id), method: :patch, local:true do |f| %>
                      <%= f.select :quantity, [['1',1], ['2',2], ['3',3], ['4',4], ['5',5], ['6',6], ['7',7], ['8',8], ['9',9], ['10',10]] %>
                    <% end %>
                    <%= f.submit '変更', class: "btn btn-success" %>
                  </span>
                </td>
                <td><%= "#{item.price * cart_item.quantity}" %></td>
                <td>
                  <% link_to public_cart_item_path(cart_item.id) do %>
                    <button button type="button" class="btn btn-danger">削除する</button>
                  <% end %>
                </td>
            </tr>
            <% end %>

        </table>

    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">

      <%= link_to  public_items_path do %>
        <button button type="button" class="col-md-2 offset-md-1 btn btn-primary btn-sm">
          買い物を続ける
        </button>
      <%= end %>

    <div class="col-md-3 offset-md-6">
      <table border="2" class="table border border-dark">
          <tr>
            <th scope="row", style="width: 50%">合計金額</th>
            <td>total.sum</td>
          </tr>
      </table>
    </div>

  </div>
</div>

<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-2 mx-auto">
      <%= link_to new_public_order_path do %>
        <button  button type="button" class="btn btn-success">
          <strong>情報入力に進む</strong>
        </button>
      <% end %>
    </div>
  </div>
</div>