<div class='container px-5 px-sm-0'>
<br> </br>
  <div class='row'>

    <div class='col-md-3'>
    <tr> <%= attachment_image_tag @item, :image, :size => '250x180' %></tr>
    </div>


    <div class='col-md-8 offset-md-1'>

      <% if flash[:createdflag] == true then %>
      <p>You have created item successfully.</p>
      <% end %>


        <table width="700" height="300">
          <%= form_with model: @item, url: admin_items_path, local:true do |f| %>

            <tr>
              <th><big><big><%= @item.name%></big></big></th>
            </tr>



            <tr>
              <th type="button" class="btn btn-warning"><%= @item.genre.name if @item.genre.present? %></th>
            </tr>


            <tr>
              <td><%= @item.description %></td>
            </tr>



            <tr>
              <th><big><big>￥<%= (@item.price*1.08).round.to_s(:delimited) %></big></big> (税込)</th>
            </tr>



            <tr>
              <th>
                個数選択　<%= f.select :amount, [['1',1], ['2',2], ['3',3], ['4',4], ['5',5], ['6',6], ['7',7], ['8',8], ['9',9], ['10',10]] %>

              </th>

              <th>
                <%= f.submit 'カートに入れる', class: "btn btn-success" %>
              </th>
            </tr>

          <%end%>
        </table>



    </div>
  </div>

</div>

