<div class='container'>
  <div class='row'>

    <div class='container px-3 px-sm-3 mb-4'>
      <h4 style="background-color: #d3d3d3; display:inline;">　商品詳細　</h4>
    </div>

    <div class='col-md-3'>
      <tr> <%= attachment_image_tag @item, :image, :size => '250x180' %></tr>
    </div>

    <div class="col-md-6">

      <table width="950" height="250">

        <% if flash[:created] == true then %>
        <p>[新規商品が<font color="#2DFF57">作成</font>されました。]</p>
        <% end %>

        <% if flash[:createdflag] == true then %>
        <p>[商品の内容が<font color="#2DFF57">更新</font>されました。]</p>
        <% end %>


        <%= form_with model: @item, url: admin_items_path, local:true do |f| %>

        <tr>
          <td>商品名</td>
          <td><%= @item.name%></td>
        </tr>

        <tr>
          <td>商品説明</td>
          <td><%= @item.description %></td>
        </tr>

        <tr>
          <td>ジャンル</td>
          <td><%= @item.genre.name if @item.genre.present? %></td>
        </tr>

        <tr>
          <td noWrap>税込価格
          <br><small>(税抜価格)</small></td>
          <td noWrap><%= (@item.price*1.08).round.to_s(:delimited) %> (<%= @item.price.to_s(:delimited)%>) 円
          </td>
        </tr>

        <tr>
          <td>販売ステータス</td>
          <td>
          <%= f.hidden_field :is_active %>
          <% if @item.is_active == "販売中" %>
          <div class="text-success"><%= @item.is_active %></div>
          <%else%>
          <div class="text-secondary"><%= @item.is_active %></div>
          <%end%>
          </td>
        </tr>

        <%end%>
      </table>

      <td><%= link_to "　編集する　", edit_admin_item_path(@item.id), data: {"turbolinks" => false}, class: "btn btn-sm btn-success" %></td>

    </div>

  </div>

</div>